In [1]:
x=20

In [2]:
if x > 10 :
  print(" X > 10")

 X > 10

In [3]:
x=20
if x>10:
  print("x> 10")
if x< 10: 
   print("X<10")
if x==10:
  print("x=10")

x> 10

In [4]:
x
input( "enter the first number")

enter the first number50

'50'

In [5]:
x= int( input ("enter your mark"))
if x>10:
  print("pass")
if x< 10: 
  print("fail")
if x==10:
   print("just pass")

enter your mark50
pass

In [6]:
x=int(input("enter your salary "))
if x<250000:
  print("you are not taxable")
if x>250000:
  print(x*10/100)
  print("you are taxable")

enter your salary 410056
41005.6
you are taxable